.container {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: var(--red);
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: var(--blue);
}

.desc {
  text-align: center;
  color: var(--blue);
}
